* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #000;
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}

.rotate-first {
  transform: rotate(45deg) translateY(15px);
  width: 16px;
}

.hide-second {
  opacity: 0 !important;
}

.rotate-third {
  transform: rotate(-45deg) translateY(-15px);
}

.display-menu {
  opacity: 1 !important;
  width: 16px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: skyblue;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.leftbar {
  height: 100vh;
  width: 45px;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  z-index: 100;
}

.leftbar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  height: 60vh;
  flex-wrap: wrap;
  margin-top: 50px;
}

.leftbar__element {
  transform: rotate(-90deg);
  width: 30px;
  padding: 3px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.leftbar__element:hover {
  background-color: #f95751;
}

nav {
  width: 40px;
  height: auto;
  margin: 0;
}

.toggle-menu {
  display: block;
  height: 30px;
  width: 40px;
  z-index: 10;
  margin-left: 30px;
  margin-top: 10px;
  text-decoration: none;
}

.toggle-icon-line {
  margin-bottom: 4px;
  height: 2px;
  background: #000;
  transition: 500ms;
  opacity: 1;
}

.toggle-icon-line:nth-child(1) {
  width: 16px;
}

.toggle-icon-line:nth-child(2) {
  width: 21px;
}

.toggle-icon-line:nth-child(3) {
  width: 11px;
}

.toggle__txt {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-left: 35px;
  transform: rotate(270deg);
  transform-origin: left top 0;
  font-size: 8px;
}

.fixedlateralizq {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.rightbar {
  height: 100vh;
  width: 40px;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  z-index: 100;
}

ul.rightbar__socials {
  background-color: rosybrown;
  list-style: none;
  margin-right: 0;
  width: 50%;
}

li.rightbar__li {
  list-style: none;
  width: 40px;
  text-align: center;
  margin-bottom: 8px;
  color: #000;
}

.header {
  display: flex;
  width: 95vw;
  height: 40px;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  z-index: 100;
}

.header__logo {
  margin-left: 30px;
  margin-top: 10px;
  width: 50%;
}

a {
  text-decoration: none;
  color: #000000;
}

.header__switchlang {
  list-style: none;
  margin-right: 0;
  width: 50%;
  margin-right: 15px;
}

ul.header__langs {
  display: flex;
  border-radius: 3px;
  margin: 0 0px;
  float: right;
}

li.header__lang {
  padding: 12px 13px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.splitmain {
  width: 100%;
  display: flex;
  height: 100vh;
  /* margin-top: -95vh; */
  background-color: crimson;
}

.splitmain__left {
  width: 50%;
  background-color: #f95751;
}

.splitmain__right {
  width: 50%;
  background-color: #f8f8f8;
}

.maintext {
  min-height: 80vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adaptative {
  width: 90vw;
  margin-left: 3.5vw;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.services {
  display: flex;
  background-color: red;
  width: 100%;
  height: 100vh;
}
.services__img {
  width: 40%;
}
.foxy {
  width: 80%;
  height: auto;
}

.services__descript {
  width: 60%;
  background-color: indigo;
  align-items: flex-end;
}

.services__txt {
  background-color: blue;
  align-items: center;

  margin-top: 15px;
  margin-left: 10px;
  width: 85%;
}
h1.services__title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}
p.services__p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.services__columns {
  background-color: green;
  margin-left: 10px;
  display: flex;
  width: 85%;
  height: 70vh;
  flex-wrap: wrap;
}

.services__element {
  background-color: hotpink;
  width: 24.5vw;
  height: 32vh;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: center;
}

i.icono {
  font-size: 50px;
  text-align: center;
}

/* SVG */

.contenedor {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 250px;
  height: 10em;
  margin-top: -60vh;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.bubble {
  fill: #e76853;
}

.icon {
  fill: #fff;
}

/* ANIMATIONS */

@keyframes bounceIn {
  0% {
    opacity: 0.1;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* MEDIA QUERYS */

@media only screen and (max-width: 600px) {
  .leftbar {
    display: none;
  }
  .rightbar {
    display: none;
  }
  .header {
    width: 100vw;
  }
  .header__logo {
    margin-top: 0.6rem;
  }
}

@media only screen and (max-width: 900px) {
  .services {
    flex-wrap: wrap;
  }
  .services__img {
    width: 100%;
    text-align: center;
    margin-left: -20px;
  }
  .services__descript {
    width: 100%;
   
  }
  .foxy {
    width: 40%;
    height: auto;
  }
}

/* @media only screen and (max-width: 1100px) {

    .services{
        flex-wrap: wrap;
    }
    .services__img{
        width: 100%;    
    }
    .services__descript{
        width: 100%;
    }




} */
